    :root {
      --primary: #fd6e0a;
      --bg: #fff8f3;
      --text: #181818;
      --muted: #757575;
      --border: #e7e7e7;
    }

    * {
      /* box-sizing: border-box; */
      margin: 0;
      padding: 0;
      /* background-color: blueviolet; */
    }

    body {
      font-family: Arial, sans-serif;
      background: var(--bg);
      color: var(--text);
      line-height: 1.6;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    /*  seção introduçção / o que faço / portifolio / conectar -->
    /* Ser fluido em telas pequenas
    Ter limite em telas grandes */
    .container {
      /* width: min(1100px, 92%); */
      width: 92%;
      max-width: 1100px;
      margin: 0 auto;
      /* background-color: aqua; */
    }

    /* ===== HEADER ===== */
    header {
      /* background-color: rgb(230, 226, 13); */
      padding: 20px 0;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .site-title {
      font-size: 24px;
      font-weight: 800;
    }

    .site-title span {
      color: var(--primary);
    }

    .menu {
      display: flex;
      gap: 20px;
      font-weight: 600;
    }

    .menu a:hover {
      color: var(--primary);
    }

    /* ===== introduction ===== */
    .introduction {
      padding: 50px 0;
      /* background-color: blue; */
    }

    .introduction-grid {
      display: grid;
      grid-template-columns: 1.2fr 0.8fr;
      gap: 40px;
      align-items: center;
      /* background-color: rgb(251, 255, 0); */
    }

    .introduction h1 {
      font-size: 48px;
      margin-bottom: 10px;
    }

    .introduction p {
      color: var(--muted);
      margin-bottom: 20px;
    }

    .btn {
      background: var(--primary);
      color: white;
      padding: 12px 18px;
      border-radius: 8px;
      font-weight: 700;
      display: inline-block;
    }

    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      margin: auto;
    }

     .avatar img{
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      margin: auto;
    }

    /* ===== SECTIONS ===== */
    section {
      padding: 70px 0; /*vertical horizontal;*/
    }

    .title { /*  "o que eu faço / portifolio" */
      font-size: 32px;
      margin-bottom: 12px;
    }

    .subtitle { /*  "o que eu faço / portifolio" */
      color: var(--muted);
      margin-bottom: 30px;
      max-width: 640px;
    }

    /* ===== O QUE EU FAÇO ===== */
    .skill-grid {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));/*criar 5 colunasa coluna pode ser no mínimo 0 e no máximo 1fr”*/
      gap: 20px; /* espaço entre as colunas */
      margin-top: 24px;
    }

    .skill-card {
      background: white;
      border: 1px solid var(--border);
      border-radius: 16px;
      padding: 18px;
      /* transition: transform 0.15s ease, box-shadow 0.15s ease; */
    }

    .skill-card:hover {
      transform: translateY(14px);
      box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);
    }

    .skill-icon {
      width: 44px;
      height: 44px;
      border-radius: 12px;
      background: #fff1e6;
      border: 1px solid #ffe0c7;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      margin-bottom: 12px;
    }

    .skill-card h3 {
      font-size: 16px;
      margin-bottom: 6px;
    }

    .skill-card p {
      font-size: 14px;
      color: var(--muted);
      line-height: 1.5;
    }

    /* ===== PORTFÓLIO ===== */
    .portfolio-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .project {
      display: flex;
      flex-direction: column;
      background: white;
      border: 1px solid var(--border);
      border-radius: 14px;
      padding: 16px;
      justify-content: center;
      align-items: center;
    }

    .project img {
      width: 50%;
      border-radius: 10px;
      margin-bottom: 10px;

    }

    .project a {
      color: var(--primary);
      font-weight: 700;
      margin-right: 10px;
    }

    /* ===== CONECTAR ===== */
    .connect-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      /* background-color: #fd6e0a; */
    }

    .connect-card {
      background: white;
      border: 1px solid var(--border);
      border-radius: 18px;
      padding: 26px;
    }

    .connect-title {
      font-size: 32px;
      margin-bottom: 12px;
    }

    .connect-subtitle {
      color: var(--muted);
      margin-bottom: 18px;
      max-width: 420px;
    }

    .connect-icons {
      display: flex;
      gap: 12px;
    }

    .icon-box {
      width: 44px;
      height: 44px;
      border-radius: 12px;
      border: 1px solid var(--border);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
    }

    .form-input {
      width: 100%;
      padding: 12px;
      border-radius: 12px;
      border: 1px solid var(--border);
      margin-bottom: 12px;
    }

    textarea {
      min-height: 180px;
      resize: vertical;
    }

    .btn-send {
      background: var(--primary);
      color: white;
      padding: 12px 20px;
      border-radius: 10px;
      border: none;
      font-weight: 700;
      cursor: pointer;
    }

    footer {
      text-align: center;
      padding: 30px 0;
      color: var(--muted);
    }

    /* ===== RESPONSIVO ===== */
    @media (max-width: 900px) {
      .introduction-grid,
      .connect-grid {
        grid-template-columns: 1fr;
      }

      .skill-grid,
      .portfolio-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    @media (max-width: 500px) {
      .skill-grid,
      .portfolio-grid {
       grid-template-columns: repeat(1, minmax(0, 1fr));
      }

      .introduction h1 {
        font-size: 36px;
      }
    }